body {
	/*text-align: center;*/
	color: white;
	max-width: 100%;
}

div {
	/*border: 1px solid red;*/
}

.container {
	/*text-align: center;*/
}

#projects-container {
	margin: 0 20px;
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /*grid-template-columns: repeat(auto-fit, fit-content(50px));*/
    grid-gap: 20px;
    grid-template-rows: 1fr;
    /*color: red;*/
/*    display: flex;
    flex-wrap: wrap;
    border: 2px solid orange;*/
    
}

.project-wrapper {
	/*max-width: 500px;*/
	/*min-width: 30%;*/
	max-width: 600px;
	/*margin: 10px;*/
	border: 2px solid white;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
	padding: 5px;
	text-align: justify;
}

.project-wrapper > * {
	margin: 5px;
}


.project-title {
	order: 1;
	width: 100%;
	margin: 0;
	/*display: none;*/
}

.project-description {
	margin: 0;
	padding: 0;

	/*width: 450px;*/
	/*max-width: 250px;*/
	/*min-width: 40%;*/
}

.project-link {
	text-decoration: none;
}

.project-pic {
	/*width: 95%;*/
	/*border: 1px solid white;*/
	border-radius: 10px;
	/*width: auto;*/
	/*max-width: 400px*/
	/*height: 100%;*/
}