body {
	/*text-align: center;*/
	color: white;
	max-width: 100%;
}

div {
	/*border: 1px solid red;*/
}

.container {
	/*text-align: center;*/
}

.projects-wrapper {
	border: 5px solid purple;
}

/*.project-wrapper > * {
	margin: 5px;
}*/


.project-title {
	order: 1;
	width: 100%;
	margin: 0;
	/*display: none;*/
}

.project-description {
	margin: 0;
	padding: 0;

	/*width: 450px;*/
	/*max-width: 250px;*/
	/*min-width: 40%;*/
}

.project-link {
	text-decoration: none;
}

.project-pic {
	/*width: 95%;*/
	/*border: 1px solid white;*/
	border-radius: 10px;
	/*width: auto;*/
	/*max-width: 400px*/
	/*height: 100%;*/
}