.projects-page {
	/*padding-top: 60px;*/
	min-height: 100vh;
/*	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 20px;
  grid-template-rows: 1fr;*/
  

  /*border: 5px solid purple;*/
  /*background-color: lightgreen;*/
  background-color: slategrey;
}

.projects-wrapper {
	display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.projects-heading {
	width: 100%;

	font-size: 4em;

	margin-bottom: 10px;
}

.project-container {
	/*min-width: 500px;*/
	max-width: 750px;
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	border: 2px solid green;
	/*background-image: url("crown-clothing-pic.png");*/
	background-size: 300px 300px;
	/*margin: 10px auto;*/
	margin: 0 50px;
	margin-bottom: 20px;

}

.project-title {
	margin: 0;
	margin-top: 25px;
	/*display: none;*/
}

.pic-and-text {
	position: relative;
	/*border: 5px solid purple;*/
}

.project-text-box {
	width: 100%;
	border: 2px solid red;
	/*filter: blur(5px);*/
	position: absolute;
	/*align-items: middle;*/
	text-align: center;
	height: 100%;
	top: 0;
	left: 0;
	color: snow;
  background-color: rgb(25,25,112, 0.9);
  /*visibility: hidden;*/
  opacity: 0;
  z-index: 0;
  border-radius: 20px;
  transition: opacity 0.3s;
}

.project-text {
	font-size: 1em;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	font-weight: bold;
	/*border: 2px solid yellow;*/
	text-align: left
}

.project-text-box:hover {
	opacity: 1;

}

.project-pic {
	z-index: 1;
	/*width: 500px;*/
	/*min-width: 500px;*/
	border-radius: 20px;
}

.project-pic:hover {
	opacity: 0.5;
}


