#dark-mode-button  {
	display: inline-block;
	padding: 5px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	/*border: 2px solid;*/
	border-radius: 10px;
	/*font-size: 50px;*/
	font-size: 10px;
	font-weight: bold;
	margin: auto;
	text-align: right;
	background-color: black;
	color: white;
	transition: 0.2s ease;
	z-index: 2;
}