.about-page {
	/*padding-top: 60px;*/

	/*min-height: 100vh;*/
	/*border: 3px solid black;*/
	position: relative;
	background-color: lightblue;
}

.about-content {
	/*height: 100vh;*/
	display: flex;
	flex-wrap: wrap;
	align-items: top;
	justify-content: center;
	/*max-width: 600px;*/

	/*max-width: 500px;*/
	/*border: 3px solid orange;*/
	font-weight: bold;
	/*background-color: lightblue;*/

}

.about-header {
	/*height: 100%;*/
	/*border: 3px solid pink;*/
	font-size: 50px;
	margin-top: 0;
	display: none;

}

.about-pic-and-text {
	width: 49%;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*justify-content: center;*/
	/*border: 3px solid grey;*/
}

.profile-pic {
	/*border: 1px solid black;*/
	border-radius: 150px;
	width: 200px;
	/*height: 200px;*/
	margin: 20px auto;
}

.about-text {
	width: 80%;
	text-align: left;
	font-size: 20px;
	/*border: 5px solid orange;*/
}

.about-divider {
	width: .1%;
	height: 400px;
	border: 1px solid black;
	margin: auto 0;
}

.qualities-container {
	width: 49%;
	/*height: 100%;*/
	display: flex;
	flex-direction: column;
	/*width: 50%;*/
	/*border: 4px solid purple;*/
	/*border-left: 3px solid black;*/
	/*background-color: lightgreen;*/
}

.qualities-group1, .qualities-group2 {
	display: flex;
	/*border: 6px solid yellow;*/
	margin: 20px;
}

.quality-box {
	display: flex;
	flex-direction: column;
	/*border: 2px solid red;*/
	margin: 0 20px;

}

svg {
	width: 50px;
	height: 50px;
}

.quality-image {
	position: relative;
}

.quality-pic {
	/*min-width: 250px;*/
	/*height: 200px;*/
	/*border: 2px solid green;*/
	width: 100px;
}

.quality-icon {
	width: 30px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;

}

.quality-header {
	text-decoration: underline;
	margin-bottom: 5px;
	font-weight: bold;
}

.quality-text {
	text-align: center;
}

@media only screen and (max-width: 750px) {
	.about-content {
		/*background-color: green;*/
		/*display: flex;*/
		flex-direction: column;
		align-items: center;
	}


	.about-pic-and-text, .qualities-container {
		width: 80%;
	}

	.about-divider {
		height: 0;
		width: 50%;
		border: 1px solid black;
		margin: 40px 0;
	}
}


