.nav-container {
	position: fixed;
	top: 0;
	width: 100%;
	
	background-color: snow;
	/*opacity: 0.3;*/
	/*border: 5px solid green;*/
	z-index: 5;
}

.nav-items {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 0 10px;
	color: black;
	/*border: 3px solid blue;*/
}

.nav-item {
	display: inline-block;
	margin: 0;
	/*margin-right: 10px;*/
	padding: 0 10px;
	font-size: 2em;
	cursor: pointer;
};

.home-box {
	/*border: 2px solid red;*/
}

.menu-box {
	/*border: 2px solid red;*/
}

#nav-home {
	font-size: 5em;
	/*line-height: 90px;*/
	transition: 0.2s;
}

#hover-line {
	position: fixed;
	height: 0;
	border-bottom: 3px solid green;
	transition: left 0.2s ease;
	transition: width 0.2s ease;
	display: none;
}