.nav-container {
	/*position: relative;*/
	width: 100%;
	position: fixed;
	top: 0;
	/*left: 0;*/
	/*right: 0;*/
	background-color: snow;
	opacity: 0.9;
	border: 5px solid green;
	z-index: 5;
}

.nav-items {
	position: relative; /*this might affect hoverline*/
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 0 10px;
	color: black;
	/*border: 3px solid blue;*/
}

.nav-item {
	display: inline-block;
	margin: 0;
	/*margin-right: 10px;*/
	padding: 0 10px;
	font-size: 2em;
	cursor: pointer;
};

.home-box {
	/*border: 2px solid red;*/
}

.menu-box {
	/*border: 2px solid red;*/
}

#nav-home {
	font-size: 5em;
	/*line-height: 90px;*/
	transition: 0.2s;
}

#hover-line {
	position: fixed;
	height: 0;
	border-bottom: 3px solid green;
	transition: left 0.2s ease;
	transition: width 0.2s ease;
	display: none;
}

.navbar-icon {
	display: none;
}

@media only screen and (max-width: 1200px) {
/*	.menu-box {
		position: fixed;
		top: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		text-align: left;
		height: 100%;
		background-color: navy;
	
		z-index: -50;
	}*/

	.app-container.shift {
		/*animation: app-shift 1s;*/
		left: -200px;
	}

	.navbar-icon {display: block;}

	/*.nav-container.responsive {position: relative;}
	.nav-container.responsive .navbar-icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	
	@keyframes app-shift {
		from {
			left: 0%;
		}
		to {
			left:-20%;
		}
	}*/

	
}



