.home-page {
	/*padding-top: 95px;*/
	width: 100%;
	min-height: 100vh;
	/*border: 5px solid red;*/
	position: relative;
	background-color: lightcoral;
	display: flex;
	align-items: center;

}

/*.profile-pic {
	border: 1px solid black;
	border-radius: 150px;
	height: 300px;
}*/

.home-content {
	/*margin-top: 100px;*/
	display: flex;
	justify-content: center;
	align-items: center;

}

.home-text {
	font-size: 10vw; /*bad magic number*/
	/*font-size: 10em;*/
	/*min-width: 500px;*/
	/*max-width: 750px;*/
	font-family: 'Bebas Neue', cursive;
	/*display: none;*/
}
/*#home-title {
	margin-top: 20px;
	font-size: 2em;
}*/

.home-text2 {
	color: white;
}

.clarice {
	width: 750px;
	filter: blur(50px);
	border-radius: 25px;
	transition: 1s;
	display: none;
}

.clarice:hover {
	filter: blur(0px);
}

