.contact-page {
	/*padding-top: 60px;*/
	position: relative;
	min-height: 100vh;
	width: 100%;
	/*border: 5px solid yellow;*/
	background-color: thistle;
}

.form-and-icons {
	display: flex;
	justify-content: center;
	/*border: 5px solid grey;*/
}

@media only screen and (max-width: 600px) {
	.form-and-icons {
		flex-direction: column;
		align-items: center;
	}
}