body {
  color: black;
  background-color: aliceblue;
}

div {
  /*border: 1px solid black;*/
}

.App {
  /*width: 500px;*/
  text-align: center;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Muli', sans-serif;
  position: relative;
  /*background-color: red;*/
  /*border: 5px solid blue;*/
  /*z-index: -5;*/
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*color: white;*/
}

.App-link {
  color: #09d3ac;
}

.app-container {
  width: 100%;
  position: relative;
  left: 0%;
  transition: 0.2s ease;
  border: 3px solid purple;
}

/*#dark-mode-button {
  background-color: red;
}*/


